@font-face {
    font-family: 'Montserrat Alternates';
    src: url("../../assets/font/MontserratAlternates-Regular.ttf");
}

@font-face {
    font-family: 'Poppins';
    src: url("../../assets/font/Poppins-Medium.ttf");
}

@font-face {
    font-family: 'Helmet';
    src: url("../../assets/font/Helmet-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    max-width: 100%;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #aaaaaa;
    cursor: pointer;
    transition: .5s;

    &:hover {
        color: black;
    }
}

// PRELOADER

// HERO SECTION

.hero-section {
    height: 100vh;
    // max-width: 100%;
    background: #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat Alternates';
    color: #aaaaaa;


    .hero-section-content {
        font-size: 3em;

        .hero-text {
            height: 2em;
        }

        .ideas,
        .life {
            color: #555555;
        }

        .notification {
            font-size: .5em;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1em;
            position: absolute;
            bottom: 10%;

            .dot {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 15px;
                height: 15px;
                background-color: rgb(45, 160, 45);
                border-radius: 50%;

                &:before {
                    content: "";
                    width: inherit;
                    height: inherit;
                    border: 5px solid rgb(45, 160, 45);
                    border-radius: inherit;
                    position: absolute;
                    z-index: 1000;
                    opacity: 0;
                    animation: 2s move cubic-bezier(0.29, 0, 0, 1) infinite;
                    animation-delay: .5s;
                }

                @keyframes move {

                    /* Starting at 1 to prevent IOS flicker */
                    1% {
                        width: 0;
                        height: 0;
                        opacity: 1;
                    }

                    100% {
                        width: 500%;
                        height: 500%;
                        opacity: 0;
                        border-color: #fff;
                        background-color: none;
                        border-width: 5px;
                    }
                }
            }
        }
    }



    nav {
        font-size: 2em;
        align-items: center;
        justify-content: center;
        height: 90vh;
        padding: 4em;
        width: 90%;
        display: flex;
        background-color: #cccccc;
        transform: translateY(-120%);
        position: absolute;
        transition: 1s;
        border-radius: .5em;
        font-family: 'Helmet';
        z-index: 100000;

        svg {
            color: black;
        }

        .close {
            position: absolute;
            display: block;
            top: 10%;
            right: 15%;
            width: 1em;

        }

        ul li a {
            background: linear-gradient(0deg, #555555, #555555);
            background-repeat: no-repeat;
            background-size: 0 2px;
            background-position: bottom;
            transition: .3s ease-in;
            margin: 1em auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:hover {
                background: linear-gradient(0deg, #777777, #777777);
                background-repeat: no-repeat;
                background-size: 100% 2px;
                background-position: bottom;
                color: #777777;
            }
        }
    }

}

/* SECOND SECTION */
.second-section {
    background-color: #cccccc;
    height: 100vh;
    position: relative;
    font-family: 'Helmet';
    padding: 0 6em;
    position: relative;

    .second-section-content {

        .second-section-text-container {
            font-size: 5em;
            padding-top: 1em;
            color: #aaaaaa;
            font-weight: 900;

            .intro-break {
                padding-left: 4em;
                padding-top: 1em;
                display: block;

            }
        }


        .bitmoji {
            width: 2em;
            position: absolute;
            left: 40%;
            top: 10%;
        }

        // FOR THE DOWN ARROWS
        .arrows-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 85%;
            position: absolute;
            bottom: 20%;

            .arrow {
                position: absolute;
                width: 3em;
                height: .5em;
                opacity: 0;
                transform: scale(0.3);
                animation: move-arrow 2s ease-out infinite;

                &:first-child {
                    animation: move-arrow 2s ease-out .5s infinite;
                }

                &:nth-child(2) {
                    animation: move-arrow 2s ease-out 1s infinite;
                }

                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 50%;
                    background: #555555;
                }

                &:before {
                    left: 0;
                    transform: skewY(30deg);
                }

                &:after {
                    right: 0;
                    width: 50%;
                    transform: skewY(-30deg);
                }
            }
        }

        // DOWN ARROWS ANIMATION
        @keyframes move-arrow {
            25% {
                opacity: 1;
            }

            33.3% {
                opacity: 1;
                transform: translateY(2.28rem);
            }

            66.6% {
                opacity: 1;
                transform: translateY(3.12rem);
            }

            100% {
                opacity: 0;
                transform: translateY(4.8rem) scale(0.5);
            }
        }
    }

}

// ABOUT SECTION
.about-me-section {
    background-color: #dddddd;
    height: auto;
    font-family: 'Montserrat Alternates', 'Gilroy-Light';

    .about-me-section-content {
        padding: 4em 6em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        img {
            width: 25em;
            height: auto;
            object-fit: contain;
            display: inline-block;
        }

        .about-me-section-text-container {

            .title-heading {
                color: #aaaaaa;

                .title {
                    font-size: 7em;
                    font-weight: 900;
                }

                .smaller-title {
                    font-size: 2em;
                    padding-left: 2em;
                }
            }



        }

        p {
            text-align: justify;
            padding-left: 4em;
            padding-top: 1em;
            width: 70%;
            font-family: 'Poppins';
        }
    }
}

.rotating-link {
    a {
        font-size: 2em;
        display: block;
        padding-top: 1em;
        padding-left: 2em;
        color: black;
        transition: .2s ease-in-out;
        text-decoration: underline;
    }

    &:hover a {
        transform: scale(0.95);
    }

    &:hover svg {
        transform: rotate(-90deg);
    }
}

.svg {
    width: .6em;
    vertical-align: middle;
    transform: rotate(220deg);
    transition: .2s ease-in-out;
}

.tech-stack-marquee {
    padding: 1em 0;
    font-size: 2em;
    font-family: 'Helmet';
    color: #aaaaaa;
    height: auto;
}

// PROJECTS SECTION

.projects-section {
    height: auto;
    background-color: #cccccc;
    // point
    padding: 4em 6em;

    .projects-section-content-container {
        padding: 4em 0em;

        .projects-heading {
            font-size: 3em;
            font-family: 'Helmet';
            color: #aaaaaa;
            font-weight: 700;
            display: block;

            img {
                display: inline-block;
            }

            img {
                width: 1em;
                margin-bottom: -.7em;
                display: inline-block;
            }
        }
    }

    .projects-list {
        width: 100%;
        padding: 2em 0em 0;
    }
}

.projects-list {

    .horizontal-line {
        height: 1px;
        background-color: #E6E6E6;
        width: 100%;
        margin: 0 auto;
        background-image: linear-gradient(left, white 2%, #E6E6E6 50%, white 98%);
        background-image: -o-linear-gradient(left, white 2%, #E6E6E6 50%, white 98%);
        background-image: -moz-linear-gradient(left, white 2%, #E6E6E6 50%, white 98%);
        background-image: -webkit-linear-gradient(left, white 2%, #E6E6E6 50%, white 98%);
        background-image: -ms-linear-gradient(left, white 2%, #E6E6E6 50%, white 98%);
        background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0.02, #cccccc), color-stop(0.5, gray), color-stop(0.98, #cccccc));
    }

    section {
        height: auto;
        font-family: 'Poppins', 'Gilroy-Light';

        h1 {
            font-size: 2em;
        }
    }
}


.individual-project {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 2em;
    height: 100%;
    padding-top: 1em;
    padding-bottom: 4em;
    font-family: 'Helmet';

    img {
        width: 30em;
        height: auto;
        object-fit: cover;
        display: inline-block;
        margin: auto 0;
    }

    .project-description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;

        .project-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 4em;

            .view-project {
                display: flex;
                flex-direction: column;
                gap: 5em;

                svg {
                    width: 1em;
                    transition: .2s ease-in-out;
                    display: inline-block;
                    vertical-align: middle;
                    margin-top: -.5em;
                }

                &:hover a {
                    color: black;
                }

                &:hover svg {
                    color: black;
                    transform: translate(10px, -5px);
                }
            }
        }
    }

    .project-info {
        display: grid;
        grid-template-columns: 4fr 1fr;
        gap: 3em;

        .project-features {
            width: 100%;
            text-align: justify;
            font-size: .9em;
        }

        .project-features h3 {
            padding-bottom: .5em;
        }

        .project-stack {
            font-size: .6em;
            align-self: center;
        }
    }
}


.explore-link {
    text-align: center;
    font-family: "Helmet";
    display: block;


    svg {
        vertical-align: middle;
        margin-top: -.2em;
        transition: .3s;
    }

    &:hover svg {
        transform: translate(20px, -10px);
    }
}

// TECHNICAL WRITING SECTION
.technical-writing-section {
    background-color: #cccccc;
    font-family: 'Helmet';
    padding: 1em 6em;

    .technical-writing-section-content {

        .technical-writing-section-heading {
            font-size: 3em;
            font-family: 'Poppins';
            font-weight: 700;
            color: #aaaaaa;

            img {
                width: 2em;
                display: inline-block;
                margin-bottom: -1em;
                transform: rotate(20deg);
            }
        }

        .articles-container {
            padding: 6em 0;
            display: flex;
            align-items: center;
            gap: 1em;

            .article {
                display: flex;
                align-items: center;
                height: 15em;
                width: 18em;
                border-radius: 50px;
                border: 2px solid #aaaaaa;
                padding: 2em;
                text-align: center;

                &:hover {
                    border: 2px solid #555555;
                    color: #555555;

                }
            }

            .explore-articles {
                justify-self: center;
                align-self: center;
                padding-left: 4em;
                display: inline-block;

                svg {
                    width: 1em;
                }
            }
        }
    }
}

// CONTACT
.contact {
    // height: 100vh;
    background-color: #dddddd;
    font-family: 'Poppins';

    position: relative;
    // point
    padding: 8em 6em;

    .contact-heading {
        font-size: 4em;
        font-weight: 700;
        color: #aaaaaa;
        text-align: center;
    }

    .send-email {
        display: block;
        padding: 2em 4em;
        width: fit-content;
        border-radius: 30px;
        margin: 4em auto;
        background-color: #cccccc;
        transition: .5s;

        &:hover {
            transform: scale(0.90);
            color: #dddddd;
            background-color: #999999;
        }
    }

    .icons {
        position: absolute;
        bottom: 5%;

        img {
            width: 2em;
        }
    }
}

.footer {
    padding: 1em 6em;
    font-family: 'Helmet';
    background-color: #cccccc;
    color: #aaaaaa;
    text-align: center;

    .back-to-top {
        text-decoration: underline;

        &:hover {
            opacity: .7;
        }
    }
}



@media screen and (max-width: 1150px) {

    // FIRST SECTION

    // SECOND SECTION
    .second-section {
        .second-section-content {
            .second-section-text-container {
                font-size: 4em;
                padding-left: .5em;
                padding-top: 1em;
            }

            .bitmoji {
                left: 40%;
                top: 10%;
                position: absolute;
            }
        }
    }

    // THIRD SECTION
    .about-me-section {
        .about-me-section-content {
            padding: 4em;
        }
    }

    // PROJECTS SECTION 
    .projects-section {
        padding: 4em;
    }

    // CONTACT SECTION
    .contact {
        padding: 6em 4em;
    }

}

@media screen and (max-width: 1000px),
screen and (min-height: 800px) {

    // SECOND SECTION
    .second-section {
        padding: 5em 4em;
    }

    // CONTACT
    .contact {
        padding-top: 18em;
    }
}

@media screen and (max-width: 900px) {

    // FIRST SECTION
    .hero-section {

        .hero-section-content {
            padding: 0 2em;
            font-size: 1.5em;

            .hero-text {
                font-size: 2em;
            }

            .notification {
                font-size: 1em;
            }
        }

    }

    // SECOND SECTION
    .second-section {
        height: 80vh;

        .second-section-content {
            .second-section-text-container {
                font-size: 4em;

                .intro-break {
                    padding-left: 2em;
                }
            }

            .bitmoji {
                left: 55%;
                top: 22%;
            }

            .arrows-container {
                position: absolute;
                width: 85%;
            }
        }
    }

    // THIRD SECTION
    .about-me-section {
        .about-me-section-content {
            display: flex;
            flex-direction: column;

            img {
                display: block;
                margin: 0 auto;
                width: 30em;
            }

            .about-me-section-text-container {
                padding-left: 2em;

                p {
                    width: 80%;

                }
            }
        }
    }

    // PROJECTS
    .individual-project {
        grid-template-columns: 1fr;

        img {
            display: block;
            width: 100%;
        }

        .project-info {

            .project-features {
                width: 100%;
            }

            .project-features h3 {
                padding-bottom: 1em;
            }

            .project-stack {
                font-size: .7em;
                align-self: flex-end;
            }
        }
    }

    // TECHNICAL WRITING SECTION

    .technical-writing-section {
        padding: 1em 4em;

        .technical-writing-section-content {
            .technical-writing-section-heading {
                font-size: 2.5em;
                text-align: center;
                display: inline-block;
            }

            .articles-container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                // how can i make the grid fit with any spaces on the right?
                gap: 2em;



                .explore-articles {
                    padding-top: 4em;
                    padding-left: 0;
                }
            }

        }
    }


    // CONTACT
    .contact {
        padding: 4em 6em;
        height: 70vh;

        .contact-heading {
            font-size: 3em;
        }
    }

}

@media screen and (max-width: 500px) {

    // FIRST SECTION
    .hero-section {
        padding: 1em;
        justify-content: flex-start;

        .hero-section-content {
            font-size: 1.2em;
            padding: 0 1em;
        }

        nav {
            font-size: 1.5em;
        }
    }

    // SECOND SECTION
    .second-section {
        padding: 1em;
        height: 70vh;

        .second-section-content {
            .second-section-text-container {
                font-size: 2.5em;
            }

            .bitmoji {
                position: absolute;
                left: 62%;
                top: 10%;
            }

            .arrows-container {
                width: 90%;

                .arrow {
                    width: 2em;
                }
            }
        }
    }

    // THIRD SECTION
    .about-me-section {
        .about-me-section-content {
            padding: 2em 1em;

            img {
                width: 22em;
            }

            .about-me-section-text-container {
                .title-heading {
                    .title {
                        font-size: 4em;
                    }

                    .smaller-title {
                        padding-left: 0em;
                        font-size: 1.5em;
                    }
                }

                p {
                    padding-left: 0em;
                    width: 85%;
                }
            }

        }

        .tech-stack-marquee {
            font-size: 1em;
        }

    }

    // PROJECTS SECTION
    .projects-section {
        padding: 1em;

        .projects-section-content-container {
            padding: 2em 0em;

            .projects-heading {
                font-size: 2em;
            }
        }

        .projects-list {
            .individual-project {
                grid-template-columns: 1fr;

                .project-info {
                    grid-template-columns: 1fr;

                    .project-info {
                        width: 100%;
                    }

                    .project-features h3 {
                        padding: 1em 0em;
                    }
                }
            }

        }

    }

    .rotating-link {
        font-size: 1.2em;

        a {
            padding-left: 0em;
            font-size: 1.5em;
        }
    }

    .second-rotating-link {
        a {
            padding-left: 0em;
            font-size: 1em;

            svg {
                width: 1em;
            }
        }
    }

    // TECHNICAL WRITING SECTION
    .technical-writing-section {

        .technical-writing-section-content {

            .technical-writing-section-heading {
                padding-top: 2em;
                font-size: 1.5em;
            }

            .articles-container {
                display: flex;
                flex-direction: column;
                padding: 4em 0;

            }
        }
    }


    // CONTACT SECTION
    .contact {
        padding: 10em 1em;
        height: 80vh;

        .contact-heading {
            font-size: 1.5em;
        }

        .send-email {
            padding: 1.5em 3em;
            border-radius: 20px;
        }
    }

    // FOOTER SECTION
    .footer {
        font-size: .8em;
    }
}

@media screen and (max-width: 400px) {

    // HERO SECTION

    // THIRD SECTION
    .about-me-section {
        .about-me-section-content {
            img {
                width: 20em;
            }

            .about-me-section-text-container {
                .title-heading {
                    .title {
                        font-size: 3em;
                    }

                    .smaller-title {
                        font-size: 1.5em;
                    }
                }

                p {
                    font-size: .9em;
                }

                .rotating-link {
                    font-size: 1em;
                }
            }
        }

        .tech-stack-marquee {
            font-size: .8em;
        }
    }

    // PROJECTS SECTION
    .projects-section {
        .projects-list {
            .individual-project {
                .project-description {
                    .project-title {
                        h1 {
                            font-size: 1.5em;
                        }
                    }

                    .project-info {
                        .project-features {
                            h3 {
                                font-size: 1em;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .hero-section {
        .hero-section-content {
            font-size: 1em;
        }

        nav {
            font-size: 1.2em;
        }
    }

    // SECOND SECTION CONTAINER
    .second-section {
        height: 80vh;

        .second-section-content {
            .second-section-text-container {
                font-size: 2em;
            }
        }
    }

    // THIRD SECTION
    .about-me-section {
        .about-me-section-content {
            img {
                width: 16em;
            }

            .about-me-section-text-container {
                .title-heading {
                    .title {
                        font-size: 2.5em;
                    }

                    .smaller-title {
                        font-size: 1.1em;
                    }
                }

                .rotating-link {
                    font-size: .8em;
                }
            }
        }
    }

    // TECHNICAL WRITING SECTION
    .technical-writing-section {
        .technical-writing-section-content {
            .technical-writing-section-heading {
                font-size: 1.2em;
            }

            .articles-container {
                .article {
                    height: 13em;
                    width: 16em;
                }
            }
        }
    }

    .contact {
        padding: 4em 1em;

        .contact-heading {
            font-size: 1.2em;
        }
    }

    .footer {
        font-size: .6em;
    }
}

.notification {
    font-size: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

    .dot {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10px;
        height: 10px;
        background-color: #ce2b37;
        border-radius: 50%;
        position: relative;

        &:before {
            content: "";
            width: inherit;
            height: inherit;
            border: 5px solid black;
            border-radius: inherit;
            position: absolute;
            z-index: -10;
            opacity: 0;
            animation: 2s expand cubic-bezier(0.29, 0, 0, 1) infinite;
            animation-delay: 1s;
        }
    }
}